        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a style="color: #00599C;" href="https://anelen.co/about.html">About</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a style="color: #00599C;" href="mailto:hello@anelen.co">Contact</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a style="color: #00599C;" href="https://www.iubenda.com/privacy-policy/8056022">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 my-auto h-100 text-center text-lg-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/company/anelen/"><i class="fa fa-linkedin fa-2x fa-fw" style="color: #00599C;"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/anelendatascience/"><i class="fa fa-facebook fa-2x fa-fw" style="color: #00599C;"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/anelendata"><i class="fa fa-twitter fa-2x fa-fw" style="color: #00599C;"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
