meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")

title 
    block site_title
        = theme.title || config.title
block description
    meta(name="description", content= theme.description ? theme.description : config.description ? config.description : 'We help innovative businesses make smarter decisions with Data Science. Consult us on data science, analytics, and engineering.')

meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="apple-touch-icon", sizes="180x180", href="https://anelen.co/assets/img/favicons/apple-icon-180x180.png")
link(rel="icon", sizes="192x192", href="https://anelen.co/assets/img/favicons/android-icon-192x192.png")
link(rel="icon", sizes="32x32", ref="https://anelen.co/assets/img/favicons/favicon-32x32.png")
link(rel="stylesheet", href="https://anelen.co/assets/bootstrap/css/bootstrap.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lora")
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.12.0/css/all.css")
link(rel="stylesheet", href="https://anelen.co/assets/css/styles.min.css")
link(rel="stylesheet", href=url_for("css/style.css"))

include head.html

!= open_graph()

- var xml = config.url + '/atom.xml'
    link(rel="search", type="application/opensearchdescription+xml", href=xml, title=config.title)
