.container
    section
        .row
            .col
                h2 Next: Find out how we can help you
    .row.articles
        .col-sm-6.col-md-4.item.text-center
            a(href="https://anelen.co/data-engineering.html")
                img.img-fluid(src="https://anelen.co/assets/img/analytics_infra.png")
            a(href="https://anelen.co/data-engineering.html")
                h3.name Data Engineering

        .col-sm-6.col-md-4.item.text-center
            a(href="https://anelen.co/analytics.html")
                img.img-fluid(src="https://anelen.co/assets/img/cohort.png")
            a(href="https://anelen.co/analytics.html")
                h3.name Analytics

        .col-sm-6.col-md-4.item.text-center
            a(href="https://anelen.co/stats_ml.html")
                img.img-fluid(src="https://anelen.co/assets/img/measure-effect.png")
            a(href="https://anelen.co/stats_ml.html")
                h3.name Statistical analysis & machine learning
